
.icon-eye-off:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-right:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
